<!doctype html>
<html lang="pt-br">

<head>
	<title>SKYTOUR</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="../../IMG/LogoNegativo.png"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="css/Home.css">
</head>

<body>
	<div class="home">
		<!-- INÍCIO BARRA DE NAVEGAÇÃO -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-warning">
				<div class="container-fluid">
					<div>
						<img src="../IMG/Logo.png" width="250px" height="120px">
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-link active" aria-current="page" href="../">Home</a>
							<a class="nav-link" href="../passageiro">Cadastro</a>
							<a class="nav-link" href="../destino">Destino</a>
							<a class="nav-link" href="../promocao">Promoções</a>
							<a class="nav-link" href="../voo">Voos</a>
							<a class="nav-link" href="../hotel">Hotéis</a>
							<a class="nav-link" href="../passagem">Passagem</a>
							<a class="nav-link" href="../contato">Contato</a>
							<a class="nav-link" href="../sobre">Sobre</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!-- FIM BARRA DE NAVEGAÇÃO -->
		<!-- INÍCIO DO CARROSSEL -->
		<main>
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
						class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
						aria-label="Slide 4"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
						aria-label="Slide 5"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
						aria-label="Slide 6"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../IMG/sky.jpg" class="d-block w-100" style="height: 800px; object-fit: cover;"
							alt="...">
						<div class="container">
							<div class="carousel-caption col-md-5 p-lg-5 mx-auto my-5 text-white">
								<h1 class="display-3 fw-normal">Sejam Bem Vindos a SKYTOUR!</h1>
								<p class="lead fw-normal">A SKYTOUR faz tudo por uma boa viagem. Por isso trabalha para
									transformar essa
									experiência na melhor conquista de sua vida, através de novas tendências e ampla
									rede de produtos e
									serviços turísticos. É essa forma de pensar que estabelece a SKYTOUR como a maior
									operadora de turismo
									da América Latina.
								</p>
								<a class="btn btn-outline-secondary text-white" href="../sobre">Saiba
									Mais</a>
								<a class="btn btn-outline-secondary text-white"
									href="../passageiro">Cadastre-se!</a>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../IMG/Praia.jpg" class="d-block w-100" style="height: 800px; object-fit: cover;"
							alt="...">
						<div class="container">
							<div class="carousel-caption text-start">
								<h1>Organize e Faça uma Viagem Inesquecível...</h1>
								<h5>Os melhores preços para você e sua família!</h5>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../IMG/casal.jpg" class="d-block w-100" style="height: 800px; object-fit: cover;"
							alt="...">
						<div class="container">
							<div class="carousel-caption text-start">
								<h1>As melhores coisas da vida são as pessoas que amamos, os lugares onde estivemos e as
									memórias que
									fizemos.</h1>
								<h5>Entre em Contato com a nossa Agência e Garanta Momentos Maravilhosos para a sua
									Vida.</h5>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../IMG/barco.jpg" class="d-block w-100" style="height: 800px; object-fit: cover;"
							alt="...">
						<div class="container">
							<div class="carousel-caption text-start">
								<h1>Pronto para uma Nova Aventura?</h1>
								<h5>Para qualquer lugar que você vá, vá com todo o seu coração.</h5>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../IMG/neve.jpg" class="d-block w-100" style="height: 800px; object-fit: cover;"
							alt="...">
						<div class="container">
							<div class="carousel-caption text-start">
								<h1>Previsão do tempo: Ele está passando! Aproveite!</h1>
								<h5>Let it go, Let it goooo…</h5>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../IMG/trilha.jpg" class="d-block w-100" style="height: 800px; object-fit: cover;"
							alt="...">
						<div class="container">
							<div class="carousel-caption text-start">
								<h1>Cada trilha é uma coleção de momentos para nunca esquecer.</h1>
								<h5>Ofertas exclusivas com preços que cabem no seu bolso.</h5>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			<!-- FIM DO CARROSSEL -->
			<!--INÍCIO DOS MODELOS -->
			<section>
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Torre Eiffel, Paris.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Torre Eiffel, Paris.</h5>
									<p class="card-text">
										Faça uma caminhada à beira do rio Sena; Tome um café da manhã à la Parisienne
										com uma vista para a
										Torre Eiffel; Suba no Arco do Triunfo ou visite as livrarias mais antigas do
										mundo.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/tutancâmon.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Pirâmides de Gizé, Egito.</h5>
									<p class="card-text">
										Visite o passado para este complexo de monumentos antigos incluindo os três
										complexos de pirâmides
										conhecidas como as Grandes Pirâmides, a escultura maciça conhecida como a Grande
										Esfinge, vários
										cemitérios, uma vila operária e um complexo industrial.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Coliseu, Roma..jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Roma, Itália.</h5>
									<p class="card-text">A visita ao Coliseu de Roma é uma viagem milenar que não pode
										ficar fora do seu
										guia de viagem ao mundo dos gladiadores, imperadores romanos.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Alberta, Canadá.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Alberta, Canadá.</h5>
									<p class="card-text">
										No inverno no Parque Nacional de Banff as atrações são patinação no gelo,
										snowboard, esqui e as
										gôndolas para o conhecer o parque de cima. Já no verão, as opções passam a ser
										trilhas, remar nas
										águas azuis turquesa, mountain bike, ciclismo e escalada e as piscinas de água
										quentes.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Machu Picchu, Peru..jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Machu Picchu, Peru.</h5>
									<p class="card-text">
										É formada por um conjunto de construções de pedras em ruínas. São casas,
										templos, aquedutos,
										praças e degraus (terraços em que os incas praticavam agricultura). Mostra o
										grau de desenvolvimento
										de conhecimentos urbano, arquitetônico e tecnológico da civilização inca.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Acrópole, Atenas..jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Acrópole - Atenas, Grécia.</h5>
									<p class="card-text"> A Acrópole possuía um papel muito importante na vida das pólis
										(cidades-Estado) gregas. A Acrópole servia como refúgio para os habitantes das
										cidades no momento de
										ataques militares dos inimigos. Servia também para observação militar. Os gregos
										também costumam
										construir palácios e templos religiosos na Acrópole.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Índia.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Taj Mahal, Índia.</h5>
									<p class="card-text">Terra de figuras inspiradoras como Buda e Gandhi, a Índia é um
										mergulho em uma
										cultura rica e espiritualizada, que mantém tradições milenares e ainda sim
										consegue se modernizar,
										tornando-se um dos países mais importantes para a economia mundial. Esta nação
										de mais de um
										bilhão de habitantes reúne cenários únicos, paisagens belas e construções
										impressionantes.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Estados Unidos.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Orlando, Estados Unidos.</h5>
									<p class="card-text">Orlando é o destino dos sonhos de muita gente. Quando se compra
										a passagem para
										Orlando ganhamos o passaporte para a terra mágica da Disney, para os parques
										incríveis da
										Universal, o Bush Gardens e muitos outros. Orlando EUA tem sua história muito
										ligada à Disney. De
										uma região pantanosa e sem pretensão à meca da diversão, o complexo de parques e
										hotéis fez o
										turismo explodir no lugar.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/China.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Jiayuguan, China.</h5>
									<p class="card-text">Uma cultura milenar, com diversas contribuições fantásticas
										para o mundo,
										templos, construções, monumentos e também muita modernidade. Esta é a China, que
										hoje ocupa espaço
										de destaque na economia mundial e abre as portas para visitantes de todo o mundo
										conhecer mais esse
										país fascinante.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Rio de Janeiro, Brasil.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Rio de Janeiro, Brasil.</h5>
									<p class="card-text">
										O Rio de Janeiro é uma grande cidade brasileira à beira-mar, famosa pelas praias
										de Copacabana e
										Ipanema, pela estátua de 38 metros de altura do Cristo Redentor, no topo do
										Corcovado, e pelo Pão
										de Açúcar, um pico de granito com teleféricos até seu cume. A cidade também é
										conhecida pelas festas
										empolgantes do Carnaval, com carros alegóricos, fantasias extravagantes e
										sambistas, é considerado o
										maior do mundo.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Caracol, RS, Brasil.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Rio Grande do Sul, Brasil.</h5>
									<p class="card-text">Rio Grande do Sul é o estado mais a sul do Brasil e faz
										fronteira com a
										Argentina e o Uruguai. A nordeste, a montanhosa Serra Gaúcha alberga a região
										vinícola do Vale dos
										Vinhedos e inclui cidades turísticas de estilo alemão como Gramado e Canela,
										famosas pelas paisagens
										naturais pitorescas. Porto Alegre, a capital, é um grande porto com estruturas
										clássicas como o
										Mercado Público e a Catedral Metropolitana, no centro histórico.
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100">
								<img src="../IMG/Parana.jpg" style="height: 300px; object-fit: cover;"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Foz do Iguaçu, Paraná.</h5>
									<p class="card-text">Um dos espetáculos mais impressionantes da natureza, as
										Cataratas do Iguaçu
										somam 275 quedas-d'água de até 80 metros de altura. São o principal atrativo de
										Foz do Iguaçu,
										cidade localizada na tríplice fronteira com Paraguai e Argentina e, por isso,
										está próxima a centros
										de compras, restaurantes e cassinos.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- FIM DOS MODELOS -->
		<!-- INÍCIO DO FOOTER -->
	<footer class="pt-4 my-md-0 pt-md-2 border-top bg-warning">
		<div class="row">
			<div class="col-6 m-lg-auto col-md">
				<img src="../../IMG/Logo (laranja).png" width="240px" height="140px">
			</div>
			<div class="col-6 col-md">
				<h5 class="sky">SKYTOUR</h5>
				<ul class="list-unstyled text-small">
					<li class="mb-1"><a class="link-secondary text-decoration-none" href="../">Home</a>
					</li>
					<li class="mb-1"><a class="link-secondary text-decoration-none"
							href="../passageiro">Cadastro</a></li>
					<li class="mb-1"><a class="link-secondary text-decoration-none"
							href="../destino">Destino</a></li>
					<li class="mb-1"><a class="link-secondary text-decoration-none"
							href="../contato">Contato</a></li>
					<li class="mb-1"><a class="link-secondary text-decoration-none"
							href="../sobre">Sobre</a></li>		
				</ul>
			</div>
		</div>
	</footer>
	<!-- FIM DO FOOTER -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
</body>

</html>