body {
    overflow-x: hidden;
}

main {
    width: 100%;
    min-height: calc(100vh - 200px);
}

footer {
    width: 100%;
    text-align: center;
}

section {
    margin: 50px;
}

.home {
    min-height: 100vh;
    width: 100vw;
}

.container {
    margin-top: 50px;
}

.sky {
    font-size: 15pt;
    color: rgb(90, 55, 149);
}