body {
    overflow-x: hidden;
}

main {
    width: 100%;
    min-height: calc(100vh - 200px);
}

footer {
    width: 100%;
    text-align: center;
}

.section {
    min-height: 100vh;
    width: 100%;
}

.sobre {
    border: solid 1px #adb5bd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sky {
    font-size: 15pt;
    color: rgb(90, 55, 149);
}